<div>
	<%= @player_1.name %> vs. <%= @player_2.name %>
</div>
<br>
<div>
	<%= @player_1.name %> has <%= @player_1.hit_points %> points,
	<%= @player_2.name %> has <%= @player_2.hit_points %> points
</div>
<br>
<div>
	<%= @player_2.name %>: <%= @player_2.hit_points %>HP
</div>
<br>
<form action="/attack">
  <input type="submit" value="ATTACK!!!">
</form>
