<div>
	<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
</div>
<br>
<div>
	<%= @game.player_1.name %> has <%= @game.player_1.hit_points %> points,
	<%= @game.player_2.name %> has <%= @game.player_2.hit_points %> points
</div>
<br>
<div>
	<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP
</div>
<br>
<div>
	<%= @game.current_turn.name %>'s turn
</div>
<br>
<form action="/attack">
  <input type="submit" value="ATTACK!!!">
</form>
